
ul{list-style: none;}
a:hover{text-decoration: none;}
a:focus{text-decoration: none;}
.top{background: #1f262e;line-height: 37px;border-bottom: 1px solid #9fa1a4;}
.inner{width: 1100px;margin: 0 auto;}
.wz span{color: #9fa1a4;}
.wz i{color: #9fa1a4;padding-right: 6px; }
.bot{background: #282f37;padding: 6px 0 11px 0;}
.nav_right a{display: block;border-top: 4px solid transparent;text-align: center;line-height: 61px;font-size: 15px;color: #fff;font-weight: bold;position: relative;padding:0 8px;}
.nav_right a:after{content: '';border-top: 4px solid transparent;border-left: 4px solid transparent;border-right: 4px solid transparent;position: absolute;top:0;left: 50%;transform:translateX(-50%);}
.nav_right li{float: left;padding: 0 7px;margin-left: 15px;}
.nav_right a:hover{border-color:#ef4949; }
.nav_right a:hover:after{border-top: 4px solid #ef4949;}
.nav_right{float: right;}
.logo{padding: 0;float: left}
.icon>ul li{float: left;margin: 0 4px;}
.right ul{padding: 0;margin: 0;}
.right>ul li{float: left;margin-right: 8px;line-height: 37px;}
.banner{background: #f14949;min-height: 600px;}
.ban_inner{width: 1255px;margin: 0 auto;padding-top: 60px;}
.ban_inner .ban_left{float: left;}
.ban_left img{display:block;height: 100%;width: 100%;object-fit: cover;object-position: 0;}
.ban_right{float: left;vertical-align: middle;height: 100%;display: table;}
.talk{height: 100%;display: table-cell;padding-top: 99px;padding-left: 40px;}
.talk h1{font-size: 52px;color: #fff;line-height: 66px;font-weight: normal;text-transform: uppercase;padding-bottom: 31px;margin: 0;}
.talk p{font-size: 17px;line-height: 24px;color: #fff;text-align: left;}
.feature h2{font-size: 30px;color: #ee6b6a;line-height: 97px;margin: 0;padding-top: 47px;}
.feature .pp{font-size: 16px;color: #656667;line-height: 24px;
    margin: 0 ; padding-bottom: 70px;transition: all 0.5s;}
.feature{text-align: center;}
.btn_all {border: 1px solid red ;border-radius: 4px;padding: 0;}
.btn_all li{float: left;line-height: 34px;}
.btn_all li:first-child  a{padding: 0 18px;background:#f14949 ;color: #fff;}
.btn_all li a{padding: 0 24px;color: #000000;background: #fff;text-transform: uppercase;display: block }
.btn_all li:nth-child(2){border-right: 1px solid #f14949 ;border-left: 1px solid #f14949; }
.btn_all li:nth-child(3){border-right: 1px solid #f14949 ;}
.btn_all li:hover a{background:#f14949 }
.btn_con h3{line-height: 34px;margin: 0;font-size: 24px;}
.cont{border: 4px solid #ebebeb;border-radius: 4px;padding: 0;width: 23.2%;background: #ebebeb;float: left;margin-right: 1.9%;}
.cont img{display: block;width: 100%;height: 100%;}
.cont:last-child{margin-right: 0;}
.cont:hover{border: 4px solid #f14949;background: #f14949;color: #fff;}
.cont strong{line-height: 24px;padding-top: 11px;margin: 0;text-transform: uppercase;font-size: 15px;}
.cont p{line-height: 19px;padding-bottom: 13px;margin: 0;text-transform: uppercase;font-size: 15px;}
.active{border: 4px solid #f14949;background: #f14949;color: #fff;}
.content{padding: 40px 0 84px 0;}
.content .row{margin: 0;}
.welcome{background:#434958 url("../images/110.png")no-repeat top left /cover;height: 370px;
    color: #fff;text-align: center;background-blend-mode:multiply;}
.welcome h2{font-size: 45px;line-height: 78px;padding-top: 60px;}
.welcome p{font-size: 16px;line-height: 24px;}
.wel_btn{font-size: 25px;background: transparent;border-radius: 8px;line-height: 62px;padding: 0 45px;margin-top: 24px;}
.icon_part{border-radius: 8px;background: #f14949;height: 53px;width: 54px;margin-right: 14px;
    text-align: center;vertical-align: middle;float: left;margin-bottom: 20px;}
.text{text-align: left ;}
.text h4{font-size: 18px;color: #f14949;line-height: 28px;text-transform: capitalize;margin: 0;}
.text p{font-size: 12px;line-height: 20px;}
.icon_part span{font-size: 35px;color: #fff;line-height: 53px;}
.icon_introd{padding-top: 100px;}
.new{width: 66%;float: left;}
.service{width: 33%;float: left;padding-left: 3%;}
.new h4,.service h4{line-height: 84px;font-size: 23px;color: #000;text-transform: capitalize;}
.new_ul{width: 100%;margin: 0;padding: 0;}
.new_ul li{width: 50%;float: left;padding-bottom: 43px;margin: 0;}
.left_pic{width: 45%;position: relative;margin-right: 5%;float: left;}
.left_pic img{width: 100%;margin:0;display: block;}
.left_pic:after{content: '';width: 100%;height: 7px;background: #f14949;position: absolute;top:-7px;left: 0;}
.left_pic span{width: 50px;height: 49px;background: #f14949;position: absolute;left: 10%;top:0;text-align: center;}
.left_pic span i{color: #fff;font-size: 12px;display: inline-block;width: 100%;padding-top: 4px;line-height: 8px;}
.left_pic span strong{color: #fff;display: inline-block;width: 100%;font-size: 20px;line-height: 34px;margin: 0;padding: 0;}
.right_text h6{line-height: 25px;padding-bottom: 13px;text-transform: capitalize;font-size: 15px;margin: 0;color: #000;}
.right_text p{font-size: 12px;line-height: 22px;margin: 0;padding-right: 8px;}
.right_text{text-align: left;}
.add,.remove{width: 100%;background: #f14949;height: 40px;font-size: 15px;padding-left: 10px;}
.add span i,.remove span i{font-size: 15px;text-transform: uppercase;line-height:40px;font-weight: bold;
    color: #fff;padding-left: 7px;font-style: normal;}
.add span ,.remove span {font-size: 15px;line-height:40px;font-weight: bold; color: #fff;}
.service p{line-height: 19px;font-size: 12px;padding-top: 10px;margin: 0;}
.remove{background: #d3d3d3;margin-top: 15px;}
.remove span,.remove span i{color: #000;}
.team{height: 520px;background: #f14949;text-align: center;}
.team h2{line-height: 72px;font-size: 28px;padding-top: 23px;text-transform: capitalize;color: #fff;margin: 0;}
.team p{font-size: 15px;line-height: 18px;color: #fff;}
.team_ul{width: 100%;padding-top: 30px;}
.team_ul li{width: 20%;float: left;margin-right: 6%;}
.team_ul li:last-child{margin-right:0;}
.team_ul li p{line-height: 80px;font-size: 25px;text-transform: capitalize;}
footer{ height:320px;background: #282f37;text-align: center;}
footer img{display: inline-block;padding-top: 80px;}
footer p{color: #fff;font-size: 15px;line-height: 29px;text-transform: uppercase;}
.pp{padding-top: 44px;}




@media screen and (max-width: 1200px) {
    .inner{width: 96%;}
    .ban_inner{width: 96%;}
}
@media screen and (max-width: 992px) {
    .inner{width: 96%;}
    .nav_right li{margin-left: 5px;padding: 0 3px;}
    .nav_right a{font-size: 12px;}
    .ban_left {width: 35%;}
    .ban_right{width: 58%}
    .ban_left img{margin-top: 15%;}
    .talk h1{font-size: 42px;line-height: 56px;}
}
@media screen and (max-width: 768px) {
    .ban_left {width: 60%;text-align: center;}
    .ban_right{width: 85%;padding-bottom: 5%;}
    .inner{width: 96%;}
    .right>ul li span{display: none;}
    .logo{text-align: center;}
    .ban_left{float: none;margin-left: 15%;}
    .talk{padding-top: 50px;margin-left: 15%;}
    .team_ul{width: 92%;}
    .team_ul li{width: 20%;}
    .team_ul li img{width: 80%;}
    .team_ul li p{font-size: 15px;}
    .service{padding-bottom: 5%;}
    .nav_right{display: none;}

}
@media screen and (max-width: 480px) {
    p{width: 96%;}
    .btn_all{width: 92%;}
    .btn_all li:first-child  a{padding: 0 3.7%;}
    .btn_all li a{padding: 0  5%; }
    .cont{width: 45%;margin-left: 3%}
    .welcome{height: auto; }
    .welcome h2{font-size: 30px;line-height: 60px;padding-top: 40px;}
    .welcome p{font-size: 16px;line-height: 19px;}
    .wel_btn{font-size: 20px;line-height: 42px;padding: 0 9%;margin: 10px 0;}
    .new{width: 96%;}
    .service{width: 96%;}
    .new_ul li{width:90%;margin-left: 5%;}
    .team p{width: 92%;}
    .team_ul li p{font-size: 12px;}


}
